<div ng-include="'app/components/navbar/navbar.html'"></div>

<div class="container">
    <alert></alert>
    <div class="row">
        <div class="col-xs-12">
            <adsense></adsense>
        </div>

        <div class="col-md-5">
            <div class="media">
                <div class="media-left media-middle">
                    <img ng-src="assets/images/maps/{{ match.map_used || 'caldavar' }}.jpg" width="65">
                </div>
                <div class="media-body">
                    <h2 class="media-heading" style="padding-top: 5px">Match: {{ ctrl.match.id }}</h2>
                    <h5 style="padding-left: 2px"><span am-time-ago="ctrl.match.date" data-title="{{ ctrl.match.date | date:'medium' }}" data-placement="right" bs-tooltip class="text-muted"></span></h5>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="row text-center">
                <div class="col-xs-4">
                    <h4>Winner</h4>
                    <h5 class="text-success" ng-if="ctrl.team1.win > ctrl.team2.win">Legion</h5>
                    <h5 class="text-danger" ng-if="ctrl.team2.win > ctrl.team1.win">Hellbourne</h5>
                </div>
                <div class="col-xs-4">
                    <h4>Mode</h4>
                    <h5 ng-if="ctrl.match.mode == 1">Ranked</h5>
                    <h5 ng-if="ctrl.match.mode == 2">Casual</h5>
                    <h5 ng-if="ctrl.match.mode == 3">Public</h5>
                </div>
                <div class="col-xs-4">
                    <h4>Length</h4>
                    <h5>{{ ctrl.duration }}</h5>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table id="match" class="table" ng-repeat="(key, t) in [1, 2] track by $index">
                <thead>
                    <tr>
                        <th style="min-width:200px" width="28%">Player</th>
                        <th style="min-width:200px" width="20%">Items</th>
                        <th width="4%"><span data-title="Level" data-placement="bottom" bs-tooltip>lvl</span></th>
                        <th width="4%"><span data-title="Kills" data-placement="bottom" bs-tooltip>K</span></th>
                        <th width="4%"><span data-title="Deaths" data-placement="bottom" bs-tooltip>D</th>
                        <th width="4%"><span data-title="Assists" data-placement="bottom" bs-tooltip>A</th>
                        <th width="4%"><span data-title="Kill Death Ratio" data-placement="bottom" bs-tooltip>KDR</th>
                        <th width="4%"><span data-title="Creep Kills" data-placement="bottom" bs-tooltip>CK</th>
                        <th width="4%"><span data-title="Creep Denies" data-placement="bottom" bs-tooltip>CD</th>
                        <th width="4%"><span data-title="Gold/Min" data-placement="bottom" bs-tooltip>GPM</th>
                        <th width="4%"><span data-title="Experience/min" data-placement="bottom" bs-tooltip>XPM</th>
                        <th width="4%"><span data-title="Actions/min" data-placement="bottom" bs-tooltip>APM</th>
                        <th width="4%"><span data-title="Wards" data-placement="bottom" bs-tooltip>W</th>
                        <th width="4%"><span data-title="Hero Damage" data-placement="bottom" bs-tooltip>HD</th>
                        <th width="4%"><span data-title="Tower Damage" data-placement="bottom" bs-tooltip>TD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, player) in ctrl.match.players | filter:{team: t} track by $index" class="player-{{ player.position }}">
                        <td>
                            <a data-title="{{ ctrl.heroData[player.hero_id].disp_name }}"
                               data-placement="right"
                               bs-tooltip>
                                <img ng-src="assets/images/heroes/{{player.hero_id}}.jpg" width="30">
                            </a>
                            <a href="/player/{{ player.nickname }}/"
                               bs-popover
                               data-title="<img src='https://www.heroesofnewerth.com/getAvatar_SSL.php?id={{ player.player_id }}' width='25'> {{ player.nickname }}"
                               data-content="
                                    <span class='text-success'>{{ ctrl.ptips[player.player_id][ctrl.m + '_wins'] }}</span> - 
                                    <span class='text-danger'>{{ ctrl.ptips[player.player_id][ctrl.m + '_losses'] }}</span> - 
                                    {{ ctrl.ptips[player.player_id][ctrl.m + '_winpercent'] * 100 | number:1 }}%<br>
                                    KDR: {{ ctrl.ptips[player.player_id][ctrl.m + '_kdr'] | number:2 }}<br>
                                    GPM: {{ ctrl.ptips[player.player_id][ctrl.m + '_avg_gpm'] | number:2 }}<br>
                                    APM: {{ ctrl.ptips[player.player_id][ctrl.m + '_avg_apm'] | number:2 }}<br>
                                    Wards: {{ ctrl.ptips[player.player_id][ctrl.m + '_avg_wards'] | number:2 }}
                                    "
                               data-trigger="hover"
                               data-html="True">
                                {{player.nickname}}
                            </a>
                            {{ ctrl.ptips[player.player_id][ctrl.m + '_amm_team_rating'] || ctrl.ptips[player.player_id][ctrl.m + '_pub_skill'] | numeraljs:'0' }}
                        </td>
                        <td>
                            <a ng-repeat="item in player.items track by $index"
                               ng-href="/item/{{ item }}/"
                               data-title="{{ctrl.items[item].name}}"
                               bs-tooltip>
                                <img ng-if="item" ng-src="assets/images/items/{{ item }}.jpg" width="30">
                            </a>
                        </td>
                        <td>{{ ::player.level }}</td>
                        <td>{{ ::player.kills }}</td>
                        <td>{{ ::player.deaths }}</td>
                        <td>{{ ::player.assists }}</td>
                        <td>{{ ::player.kdr | number:1 }}</td>
                        <td>{{ ::player.cs }}</td>
                        <td>{{ ::player.denies }}</td>
                        <td>{{ ::player.gpm | number:0 }}</td>
                        <td>{{ ::player.xpm | number:0 }}</td>
                        <td>{{ ::player.apm | number:0 }}</td>
                        <td>{{ ::player.wards }}</td>
                        <td>{{ ::player.herodmg | numeraljs:'0.0a' }}</td>
                        <td>{{ ::player.bdmg | numeraljs:'0.0a' }}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td></td>
                        <td>{{ ::ctrl['team'+t].level }}</td>
                        <td>{{ ::ctrl['team'+t].kills }}</td>
                        <td>{{ ::ctrl['team'+t].deaths }}</td>
                        <td>{{ ::ctrl['team'+t].assists }}</td>
                        <td>-</td>
                        <td>{{ ::ctrl['team'+t].cs }}</td>
                        <td>{{ ::ctrl['team'+t].denies }}</td>
                        <td>{{ ::ctrl['team'+t].gpm | numeraljs:'0.0a' }}</td>
                        <td>{{ ::ctrl['team'+t].xpm | numeraljs:'0.0a' }}</td>
                        <td>{{ ::ctrl['team'+t].apm | number:0 }}</td>
                        <td>{{ ::ctrl['team'+t].wards }}</td>
                        <td>{{ ::ctrl['team'+t].herodmg | numeraljs:'0.0a' }}</td>
                        <td>{{ ::ctrl['team'+t].bdmg | numeraljs:'0.0a' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <adsense></adsense>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <br>
            Change Graph:
            <button 
                type="button"
                class="btn btn-success"
                ng-model="selectedGraph"
                bs-options="option.label for option in ctrl.options"
                bs-select>Target
            </button>
            <div id="graph"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li class="text-muted">HoN Version: {{ ctrl.match.version }}</li>
                <li class="text-muted"><a href="{{ ctrl.BaseUrl }}/match/{{ ctrl.match.id }}/">Raw Data</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <adsense></adsense>
        </div>
    </div>
</div>

