.idea/*
*.DS_Store*
*.log
*.pot
*.pyc
match/*
banners/*
*localsettings.py*

scripts/names.txt

scripts/names.csv

honbot-www/node_modules
*.sublime-workspace*
node_modules
dist*
.tmp
.sass-cache
*bower_components
*/banners/*.png
config.py
config.js
