@import 'variables.scss';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
$footer-size: 90px;

body {

    /* Margin bottom by footer height */
    margin-bottom: $footer-size;
    padding-bottom: 40px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%; /* Set the fixed height of the footer here */
    height: $footer-size;
    border: 1px solid #444;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    padding-top: 20px;
    text-align: center;
    background-color: lighten($body-bg, 3%);
}

/* Main Styles
-------------------------------------------------- */
.home {
    background-position: 95% 1%;
    background-size: 900px auto;
    background-repeat: no-repeat;

    @media only screen and (min-width:320px) and (max-width:992px) {
        background-size: 0px 0px;
    }
}
// player colors
$player-1: #002c9f;
$player-2: #00c19e;
$player-3: #770092;
$player-4: #f2d500;
$player-5: #ff7d29;
$player-6: #ff44ab;
$player-7: #727272;
$player-8: #00a0da;
$player-9: #006448;
$player-10: #562507;
.list-bump li {
    margin-left: 10px;
}
.mainjumbo {
    h1 {
        font-size: 4em;
    }
}
#history thead tr {
    background-color: #222;
}
#history tr td {
    padding: 2px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
#history tr td:first-child {
    text-align: left;
}
.matchloss, .matchwin {
    border-collapse: separate;
}
.matchloss {
    background-color: rgba(255, 92, 92, .15);
    border-left: 1px solid $brand-danger;
    &:hover {
        background-color: rgba(255, 92, 92, .25);
    }
}
.matchwin {
    background-color: rgba(0, 193, 158, .15);
    border-left: 1px solid $brand-success;
    &:hover {
        background-color: rgba(0, 193, 158, .25);
    }
}
#match {
    tr td, tr th {
        padding: 2px;
        vertical-align: middle;
        text-align: right;
        &:first-child, &:nth-child(2) {
            text-align: left;
        }
    }
}
#navbar {
    background-image: linear-gradient(to right, rgba(153, 93, 179, 0.6), rgba(44, 155, 219, 0.6));
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0px 1px 0 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0px 1px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0px 1px 0 0 rgba(0, 0, 0, 0.1);
}
.player-0 {
    border-left: 1px solid;
    border-left-color: #002c9f;
    background-color: rgba(0, 44, 159, .15);
}
.player-1 {
    border-left: 1px solid;
    border-left-color: #00c19e;
    background-color: rgba(0, 193, 158, .15);
}
.player-2 {
    border-left: 1px solid;
    border-left-color: #770092;
    background-color: rgba(119, 0, 146, .15);
}
.player-3 {
    border-left: 1px solid;
    border-left-color: #f2d500;
    background-color: rgba(242, 213, 0, .15);
}
.player-4 {
    border-left: 1px solid;
    border-left-color: #ff7d29;
    background-color: rgba(255, 125, 41, .15);
}
.player-5 {
    border-left: 1px solid;
    border-left-color: #ff44ab;
    background-color: rgba(255, 68, 171, .15);
}
.player-6 {
    border-left: 1px solid;
    border-left-color: #727272;
    background-color: rgba(114, 114, 114, .15);
}
.player-7 {
    border-left: 1px solid;
    border-left-color: #00a0da;
    background-color: rgba(0, 160, 218, .15);
}
.player-8 {
    border-left: 1px solid;
    border-left-color: #006448;
    background-color: rgba(0, 100, 72, .15);
}
.player-9 {
    border-left: 1px solid;
    border-left-color: #562507;
    background-color: rgba(86, 37, 7, .15);
}



// this needs to be cleaned

.mg-active-datapoint {
    fill: #fff;
}

.mg-area1-color {
    fill: #ffd300;
}

.mg-area2-color {
    fill: #18ff00;
}

.mg-area3-color {
    fill: #f57070;
}

.mg-area4-color {
    fill: #f8b128;
}

.mg-area5-color {
    fill: #f7f7f7;
}

.mg-barplot .mg-bar-prediction {
    fill: #5b5b5b;
}

.mg-barplot .mg-bar-baseline {
    stroke: #5b5b5b;
}

.mg-baselines line {
    stroke: #676767;
}

.mg-baselines text {
    fill: #fff;
}

.mg-histogram .axis path,
.mg-histogram .axis line {
    opacity: 0.5;
    stroke: #ccc;
}

// yello ones
.mg-histogram .mg-bar rect,
.mg-barplot rect.mg-bar {
    fill: #d8b307;
}

.mg-histogram .mg-bar rect.active,
.mg-barplot rect.mg-bar.active {
    fill: #b3960f;
}

.mg-barplot > rect:nth-child(1) {
    fill: $player-1;
}
.mg-barplot > rect.mg-bar.active:nth-child(1) {
    fill: lighten($player-1, 10%);
}
.mg-barplot > rect:nth-child(2) {
    fill: $player-2;
}
.mg-barplot > rect.mg-bar.active:nth-child(2) {
    fill: lighten($player-2, 10%);
}
.mg-barplot > rect:nth-child(3) {
    fill: $player-3;
}
.mg-barplot > rect.mg-bar.active:nth-child(3) {
    fill: lighten($player-3, 10%);
}
.mg-barplot > rect:nth-child(4) {
    fill: $player-4;
}
.mg-barplot > rect.mg-bar.active:nth-child(4) {
    fill: lighten($player-4, 10%);
}
.mg-barplot > rect:nth-child(5) {
    fill: $player-5;
}
.mg-barplot > rect.mg-bar.active:nth-child(5) {
    fill: lighten($player-5, 10%);
}
.mg-barplot > rect:nth-child(6) {
    fill: $player-6;
}
.mg-barplot > rect.mg-bar.active:nth-child(6) {
    fill: lighten($player-6, 10%);
}
.mg-barplot > rect:nth-child(7) {
    fill: $player-7;
}
.mg-barplot > rect.mg-bar.active:nth-child(7) {
    fill: lighten($player-7, 10%);
}
.mg-barplot > rect:nth-child(8) {
    fill: $player-8;
}
.mg-barplot > rect.mg-bar.active:nth-child(8) {
    fill: lighten($player-8, 10%);
}
.mg-barplot > rect:nth-child(9) {
    fill: $player-9;
}
.mg-barplot > rect.mg-bar.active:nth-child(9) {
    fill: lighten($player-9, 10%);
}
.mg-barplot > rect:nth-child(10) {
    fill: $player-10;
}
.mg-barplot > rect.mg-bar.active:nth-child(10) {
    fill: lighten($player-10, 10%);
}


.mg-histogram .mg-bar text {
    fill: #fff;
}

.mg-histogram .axis .tick line {
    opacity: 0.3;
}

.mg-least-squares-line {
    stroke: #f57070;
}

.mg-line1-color {
    stroke: #ffd300;
}

.mg-hover-line1-color {
    stroke: #ffd300;
}

.mg-line2-color {
    stroke: #18ff00;
}

.mg-hover-line2-color {
    stroke: #18ff00;
}

.mg-line3-color {
    stroke: #f57070;
}

.mg-hover-line3-color {
    stroke: #f57070;
}

.mg-line4-color {
    stroke: #f8b128;
}

.mg-hover-line4-color {
    stroke: #f8b128;
}

.mg-line5-color {
    stroke: #f7f7f7;
}

.mg-hover-line5-color {
    stroke: #f7f7f7;
}

.mg-line1-legend-color {
    color: #ffd300;
}

.mg-line2-legend-color {
    color: #18ff00;
}

.mg-line3-legend-color {
    color: #f57070;
}

.mg-line4-legend-color {
    color: #f8b128;
}

.mg-line5-legend-color {
    color: #f7f7f7;
}

.mg-main-area-solid svg .mg-main-area {
    fill: #52491f;
}

.mg-markers line {
    stroke: #676767;
}

.mg-markers text {
    fill: #fff;
}

.mg-x-rug-mono,
.mg-y-rug-mono {
    stroke: #cfcfcf;
}

.mg-x-axis line,
.mg-y-axis line {
    stroke: #676767;
}

.mg-x-axis text,
.mg-y-axis text,
.mg-histogram .axis text {
    fill: #fff;
}

.mg-year-marker text {
    fill: #fff;
}

.mg-year-marker line {
    stroke: #676767;
}


/**
 * SPINNER
 */
 .spinner {
  margin: 0 auto;
  width: 50px;
  height: 35px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin: 1px 1px 1px 1px;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector